{% extends "layout.html.twig" %}


{% block menu %}
       
      <nav>
        <ul>
          <li><a title="opcion 0" href="#">Inicio</a></li>
          <li><a title="opcion 8" href="index.php?controller=ConsultaController&amp;action=listaStock">Listado de alimentos</a></li>
           <li><a title="opcion 11" href="index.php?controller=ConsultaController&amp;action=impresiones">Impresiones</a></li>
        </ul>
      </nav>

    

{% endblock %}