{% extends "headerAdministrador.html.twig" %}


{% block contenido %}


        <table class="tabla">         
          <tr>
              <th>C&oacute;digo</th>
              <th>Descripci&oacute;n</th>
              <th>Paquetes Vencidos</th>
          </tr> 

          {% for alimento in alimentos %}
          <tr>  
              <td> {{alimento["codigo"]}}</td>   
              <td> {{alimento["descripcion"]}}</td> 
              <td> {{alimento["stock"]}}</td> 
          </tr> 
          {% endfor%}
        </table><br>

        <input type="button" value="Volver" onclick="document.location.href='index.php?controller=EstadisticasController&amp;action=impresiones'"> 

        
{% endblock %}

